body {
  width: 100%;
  min-height: 100vh;
  background-color: #0D0D0D;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  background-color: #262626;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #2F6073;
  padding: 20px;
}

.form {
  padding: 20px;
}

.form_control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form_control label {
  display: inline;
  margin-bottom: 5px;
}

.form_control input {
  border: 2px solid #8C8C8C;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.form_control i {
  position: absolute;
  top: 50px;
  right: 10px;
  color: #8C8C8C;
  visibility: hidden;
}

.form_control small {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
}

.button {
  background-color: #2F6073;
  border: 2px solid #e5e6e4ff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.form_control.sucess input {
  border-color: #2ecc71;
}

.form_control.error input {
  border-color: #e74c3c;
}

.form_control.sucess i.fa-check-circle {
  border-color: #2ecc71;
  visibility: visible;
}

.form_control.error i.fa-exclamation-circle {
  border-color: #e74c3c;
  visibility: visible;
}

.form_control.error small {
  border-color: #e74c3c;
  visibility: visible;
}

.informations {
  max-width: 400px;
    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

#main-information {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

#poster img{
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 140px;
  width: auto;
  height: auto;
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

#plot {
}